@model Library.Models.Book
@{
    ViewBag.Title = "details";
}

<center><h2> Book details</h2></center>


<a href="@Url.Action("Edit","Books",new { id=Model.Id})" class="btn btn-success">
    <i class="icofont-edit-alt"></i>
    Edit
</a>
<br /><br />
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        @Model.Name
    </li>
    <li class="list-group-item">
        @Model.Author
    </li>
    <li class="list-group-item">
        @Model.Category.CatgName
    </li>
    <li class="list-group-item">
        @Model.AddedDate
    </li>
    <li class="list-group-item">
        @Model.Descreption
    </li>
     
</ul>

